<div class="container">


    <div class="about_us">


        <span>

            <h2 class="mainTitle">
                ჩვენი რესტორანი ფუნქციონირებს 2019 წლიდან
            </h2>
            <div class="tree_pc">
                <img src="../../assets/svg/vegetables.jpeg" alt="" class="vegetables">



                <ul class="about_ul">
                    <h3> რა გამოგვარჩევს ?... </h3>
                     <li>ეკოლოგიურად სუფთა პროდუქტი</li>
                     <li>არაგენმოდიფიცირებული საკვები</li>
                     <li>პროდუქტის შესაბამისი ფასები</li>
                     <li>მომხმარებლის ჯანმრთელობაზე <br>მზრუნველი თანამშრომლები</li>
                 </ul>


                <img src="../../assets/svg/29 Insanely Creative Veggie Garden Ideas You NEED in 2024!.jpeg" alt="" class="vegetables">

                
                

            </div>



            
        </span>


    </div>


</div>