<section>
    <div class="contacts">

        <div class="contacts_layers">
            <span class="contact_sp">კონტაქტი</span>
            
        </div>
        <div class="map_and_other">

            <div id="cont">

                <div class="email_class">
                    <div class="em">
                        <img src="../../assets/svg/email.svg" alt="">
                    </div>
                    <span>Email</span>
                    <span>contae.com.br</span>
                </div>
                <div class="phone_class">
                    <div class="em">
                        <img src="../../assets/svg/phone-solid.svg" alt="">
                    </div>
                    <span>+995 599 22 11 22 1</span>
                </div>
                <div class="pin_class">
                    <div class="em">
                        <img src="../../assets/svg/location-dot-solid.svg" alt="">
                    </div>
                    <span>დააძვრე დიმპიტაურის ქუჩა</span>
                </div>
            </div>
            <div class="map_class">
                <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=6&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 590px; height: 440px;"></iframe><style>.mapouter{position:relative;height:440px;width:590px;background:#fff;}</style></div></div>
            </div>
        </div>
    </div>
<section>
