<footer>
    <div class="footer_space_hr1">
        <div class="footer_space_hr1_start_space">
            <img src="photo/footer_icon.svg" alt="">
            <span class="footer_title">ჩვენი რესტორანი</span>
        </div>

        <div>
            <img src="photo/ins.svg" alt="">
            <img src="photo/fac.svg" alt="">
            <img src="photo/yout.svg" alt="">
        </div>

        <div class="footer_space_hr1_end_space">
            <button>
                <span class="kak" style="color: #566573">
                   clients
                </span>
            </button>

            <button>
                <span class="kak" style="color: #566573">
                    Features
                </span>
            </button>

            <button>
                <span class="kak" style="color: #566573">
                    Download App
                </span>
            </button>
        </div>
    </div>

    <div class="hl">
        <hr class="horiz_line" style="color: #566573">
    </div>

    <div class="footer_space_hr2">
        <div class="footer_last_button">
            <button>
                <span style="color: #566573">Privacy Policy</span>
            </button>

            <button>
                <span style="color: #566573">Terms of Service</span>
            </button>

            <button>
                <span style="color: #566573">Cookies Settings</span>
            </button>
        </div>
        <div class="agency">
            <span style="color: #566573">Copyright © 2024. restaurant by apta.agency</span>
        </div>



    </div>
</footer>